.frame-1,
.frame-1 * {
  box-sizing: border-box;
}
.frame-1 {
  background: #ffffff;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  height: 2180px;
  position: relative;
  overflow: hidden;
}
._80362-maket-tverdaya-drevesina-biznes-laminat-apple-masvook-pro-1920-x-1080-1 {
  width: 1920px;
  height: 1080px;
  position: absolute;
  left: 1px;
  top: -3px;
  object-fit: cover;
}
.icon-logo-dark-1 {
  width: 160px;
  height: 35px;
  position: absolute;
  left: 4px;
  top: 100px;
  overflow: visible;
}
.div {
  color: #ffffff;
  text-align: left;
  font-family: "PlayfairDisplay-Bold", sans-serif;
  font-size: 62px;
  line-height: 90px;
  font-weight: 700;
  position: absolute;
  left: 429px;
  top: 52px;
  width: 640px;
  height: 218px;
}
.div2 {
  color: #ffffff;
  text-align: left;
  font-family: "Montserrat-Medium", sans-serif;
  font-size: 32px;
  line-height: 40px;
  font-weight: 500;
  position: absolute;
  left: 528px;
  top: 284px;
  width: 566px;
  height: 106px;
}
._2024-2025 {
  color: #ffffff;
  text-align: left;
  font-family: "Montserrat-Medium", sans-serif;
  font-size: 18px;
  line-height: 20px;
  font-weight: 500;
  position: absolute;
  left: 1265px;
  top: 710px;
  width: 260px;
  height: 130px;
}
.div3 {
  color: #000000;
  text-align: left;
  font-family: "Montserrat-Light", sans-serif;
  font-size: 34px;
  line-height: 40px;
  font-weight: 300;
  position: absolute;
  left: 6px;
  top: 346px;
  width: 258px;
  height: 110px;
}
.div4 {
  position: absolute;
  inset: 0;
}
.div5 {
  width: 370px;
  height: 80px;
  position: absolute;
  left: 232px;
  top: 710px;
  overflow: visible;
}
.div6 {
  color: #333333;
  text-align: center;
  font-family: "Montserrat-Bold", sans-serif;
  font-size: 24px;
  line-height: 40px;
  font-weight: 700;
  position: absolute;
  left: 172px;
  top: 728px;
  width: 478px;
  height: 62px;
}
._1298471-1 {
  width: 133px;
  height: 115px;
  position: absolute;
  left: 1067px;
  top: 692px;
  overflow: hidden;
}
.vector {
  width: 96.94%;
  height: 74.11%;
  position: absolute;
  right: 1.53%;
  left: 1.53%;
  bottom: 12.84%;
  top: 13.05%;
  overflow: visible;
}
.vector2 {
  width: 48.37%;
  height: 74.11%;
  position: absolute;
  right: 25.82%;
  left: 25.82%;
  bottom: 12.84%;
  top: 13.05%;
  overflow: visible;
}
.vector3 {
  width: 24.02%;
  height: 27.58%;
  position: absolute;
  right: 37.97%;
  left: 38.01%;
  bottom: 36.1%;
  top: 36.32%;
  overflow: visible;
}
.group {
  width: 83.02%;
  height: 59.35%;
  position: absolute;
  right: 8.56%;
  left: 8.43%;
  bottom: 20.22%;
  top: 20.43%;
  overflow: visible;
}
.vector4 {
  width: 100%;
  height: 77.17%;
  position: absolute;
  right: 0%;
  left: 0%;
  bottom: 11.31%;
  top: 11.52%;
  overflow: visible;
}
.div7 {
  width: 370px;
  height: 80px;
  position: absolute;
  left: 232px;
  top: 710px;
  overflow: visible;
}
.div8 {
  color: #e3ae2d;
  text-align: center;
  font-family: "Montserrat-Bold", sans-serif;
  font-size: 20px;
  line-height: 40px;
  font-weight: 700;
  position: absolute;
  left: 556px;
  top: 1603px;
}
.rectangle-1 {
  border-radius: 0px;
  width: 270px;
  height: 71.11px;
  position: absolute;
  left: 501px;
  top: 1588px;
  overflow: visible;
}
.div9 {
  color: #000000;
  text-align: center;
  font-family: "MervaleScript-Regular", sans-serif;
  font-size: 40px;
  line-height: 46px;
  font-weight: 400;
  position: absolute;
  left: 355px;
  top: 1230px;
}
._136487-smartfon-yabloko-tehnologia-tablica-probel-550-x-310-1 {
  border-radius: 16px;
  width: 770px;
  height: 440px;
  position: absolute;
  left: 1151px;
  top: 1230px;
  object-fit: cover;
}
._1-html-2-css-3-js {
  color: #000000;
  text-align: left;
  font-family: "DmSerifDisplay-Regular", sans-serif;
  font-size: 24px;
  line-height: 46px;
  font-weight: 400;
  position: absolute;
  left: 359px;
  top: 1320px;
  width: 580px;
  height: 180px;
}
.div10 {
  color: #000000;
  text-align: left;
  font-family: "LindenHill-Regular", sans-serif;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  position: absolute;
  left: 1156px;
  top: 1624px;
  width: 390px;
  height: 67px;
  mix-blend-mode: hard-light;
}
